NODE_ENV=development
PORT=4000

TELEGRAM_BOT_TOKEN=""

# for NODE_ENV=production
TELEGRAM_WEBHOOK_URL=""

YOOKASSA_SHOP_ID=""
YOOKASSA_SECRET=""

VPN_API_URL=""
VPN_API_USERNAME=""
VPN_API_PASSWORD=""
