name: VPN Bot CI

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Use Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '24'
          cache: 'npm'

      - name: Install Dependencies
        run: npm install

      - name: Build Application
        run: npm run build

      - uses: actions/upload-artifact@v4
        with:
          name: source
          path: |
            dist
            package.json
            package-lock.json

  deploy:
    needs: build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/download-artifact@v5
        with:
          name: source
          path: .
      - name: Deploy
        uses: easingthemes/ssh-deploy@main
        env:
          SOURCE: 'dist package.json package-lock.json'
          ARGS: '-rlgoDzvc -i --delete'
          SSH_PRIVATE_KEY: ${{ secrets.SSH_PRIVATE_KEY }}
          REMOTE_HOST: ${{ secrets.REMOTE_HOST }}
          REMOTE_USER: ${{ secrets.REMOTE_USER }}
          TARGET: '~/app'
          SCRIPT_AFTER: |
            npm i --omit=dev
            pm2 restart vpn-bot
